django
djangorestframework
djangorestframework-simplejwt
mysqlclient
boto3
python-dotenv
alembic                      
annotated-types              
anyio                         
asgiref                       
boto3                         
botocore                      
Django                        
django-cors-headers           
djangorestframework           
djangorestframework_simplejwt 
fastapi                                        
mysqlclient                   
pip                           
pydantic                      
pydantic_core                 
PyJWT                         
PyMySQL                      
python-dateutil               
python-dotenv                 
SQLAlchemy                    
sqlparse                      
typing_extensions             
typing-inspection             
urllib3                      
uvicorn   
whitenoise