django
djangorestframework
djangorestframework-simplejwt
mysqlclient
boto3
python-dotenv
alembic                      
annotated-types              
anyio                         
asgiref                                              
botocore                                             
django-cors-headers           
fastapi                                                           
pip                           
pydantic                      
pydantic_core                 
PyJWT                         
PyMySQL                      
python-dateutil               
python-dotenv                 
SQLAlchemy                    
sqlparse                      
typing_extensions             
typing-inspection             
urllib3                      
uvicorn   
whitenoise
gunicorn